{% extends "all_shows/base.html" %}

{% block content %}
    
<div class="container">
    {% for movie in movies  %}

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="" class="img-thumbnail">
        </div>
        
        <div class="col-md-6 justify-content-md-center">
            <h3>{{movie.title}}</h3>
            <p>{{movie.overview}}</p>
        </div>
        
    </div>
    <br>
    {% endfor %}  

</div>

{% endblock content %}