{% extends "all_shows/base.html" %}

{% block content %}

<div class="container">
        {% for show in shows  %}
    
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <img src="http://image.tmdb.org/t/p/w185/{{show.poster_path}}" alt="" class="img-thumbnail">
            </div>
            
            <div class="col-md-6 justify-content-md-center">
                <h3>{{show.title}}</h3>
                <p>{{show.overview}}</p>
            </div>
            
        </div>
        <br>
        {% endfor %}  
        
    </div>
  
{% endblock content %}