<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">Maia_Guide</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies' %}">Movies</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{% url 'shows' %}">TV Shows</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Create Account</a>
            <a class="dropdown-item" href="#">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Whats Trending</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
        <input  class="form-control mr-sm-2"type="text" class="form-control" placeholder="Find Movie" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>